{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
       
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact</h1>
          </div>
        </div>
      </div>
    </div>
    
    <section class="ftco-section contact-section ftco-degree-bg">
      <div class="container bg-light">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h4">Contact Information</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-3">
            <p>Based in Warsaw, Poland. Accessible worldwide.</p>
          </div>
          <div class="col-md-3">
            <p><span>Phone:</span> <a href="tel://+48731257129">+48 731 257 129</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@ovrax.com</a></p>
          </div>
          <div class="ftco-footer-widget mb-4">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="https://wa.me/48731257129"><span class="icon-whatsapp"></span></a></li>
              <li class="ftco-animate"><a href="https://t.me/OVRAX"><span class="icon-telegram"></span></a></li>
              <!-- <li class="ftco-animate"><a href="#"><span class="fab fa-viber"></span></a></li> -->
            </ul>
          </div>
            </div>
        </div>
      </div>
    </section>
           
  {% endblock content %}