<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">OVRAX</h2>
            <p>Developing rational software <strong>since 2042</strong></p>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-5">
            <h2 class="ftco-heading-2">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="/" class="py-2 d-block">Home</a></li>
              <li><a href="/#services" class="py-2 d-block">Services</a></li>
              <li><a href="portfolio" class="py-2 d-block">Portfolio</a></li>
              <li><a href="contact" class="py-2 d-block">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Contact Information</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Warsaw, Poland</a></li>
              <li><a href="tel://+48731257129" class="py-2 d-block">+48 731 257 129</a></li>
              <li><a href="#" class="py-2 d-block">info@ovrax.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="https://wa.me/48731257129"><span class="icon-whatsapp"></span></a></li>
              <li class="ftco-animate"><a href="https://t.me/OVRAX"><span class="icon-telegram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> OVRAX. All rights reserved.</a></p>
        </div>
      </div>
    </div>
  </footer>