{% extends 'webapp/base_ru.html' %}
{% load static %}

{% block content %}
    
    <!-- <div class="js-fullheight"> -->
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Рациональные технологии с <strong>2082</strong></h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="offer" class="btn btn-primary btn-outline-white px-5 py-3">Бесплатные предложения</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bg-light">
    <section class="ftco-section-featured ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

          <div class="col-md-3 mb-3">
            <a href="portfolio" class="featured-img">
              <div class="text-1 p-4 d-flex align-items-center">
                <!-- <h3>The Verge<br><span class="tag">Website</span></h3> -->
              </div>
              <img src="{% static 'webapp/images/image_1.jpg' %}" class="img-fluid" alt="">
              <div class="text p-4 d-flex align-items-center">
                <div class="user d-flex align-items-center">
                  <div class="user-img mr-3" style="background-image: url({% static 'webapp/images/person_1.gif' %})"></div>
                  <h3><span class="position">Смотреть портфолио</span></h3>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-md-6">
            <div class="row no-gutters">
              <div class="col-md-12">
                <div class="row no-gutters d-flex align-items-end">

                  <div class="col-md-8">
                    <a href="portfolio" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <!-- <h3>Racks<br><span class="tag">Website</span></h3> -->
                      </div>
                      <img src="{% static 'webapp/images/image_3.jpg' %}" class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url({% static 'webapp/images/person_1.gif' %});"></div>
                          <h3><span class="position">Смотреть портфолио</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-4">
                    <a href="portfolio" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <!-- <h3>Zendesk<br><span class="tag">Website</span></h3> -->
                      </div>
                      <img src="{% static 'webapp/images/image_4.jpg' %}" class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url({% static 'webapp/images/person_1.gif' %});"></div>
                          <h3><span class="position">Смотреть портфолио</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>
                  
                </div>
              </div>

              <div class="col-md-12">
                <div class="row no-gutters d-flex align-items-start">
                  <div class="col-md-8">
                    <a href="portfolio" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <!-- <h3>Curator<br><span class="tag">Website</span></h3> -->
                      </div>
                      <img src="{% static 'webapp/images/image_6.jpg' %}" class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url({% static 'webapp/images/person_1.gif' %});"></div>
                          <h3><span class="position">Смотреть портфолио</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="portfolio" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <!-- <h3>Tasty<br><span class="tag">Website</span></h3> -->
                      </div>
                      <img src="{% static 'webapp/images/image_5.jpg' %}" class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url({% static 'webapp/images/person_1.gif' %});"></div>
                          <h3><span class="position">Смотреть портфолио</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <a href="portfolio" class="featured-img">
              <div class="text-1 p-4 d-flex align-items-center">
                <!-- <h3>Voyage<br><span class="tag">Website</span></h3> -->
              </div>
              <img src="{% static 'webapp/images/image_2.jpg' %}" class="img-fluid" alt="">
              <div class="text p-4 d-flex align-items-center">
                <div class="user d-flex align-items-center">
                  <div class="user-img mr-3" style="background-image: url({% static 'webapp/images/person_1.gif' %});"></div>
                  <h3><span class="position">Смотреть портфолио</span></h3>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="h1">ПОДДЕРЖКА. <strong class="px-3"> БЕЗОПАСНОСТЬ. </strong> МОНИТОРИНГ.</h2>
            <p><a href="#services" class="btn btn-primary mt-3 py-3 px-5">Рекомендуемые решения</a></p>
          </div>
        </div>
      </div>
    </section>
    </div>
    
  
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-6 text-center heading-section ftco-animate">
            <span class="subheading">Услуги</span>
            <h2 class="mb-4">Innovative Digital Solutions</h2>
            <p>Our team has more than 12 years of collective experience in building websites and mobile apps.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><span class="align-self-center icon-lightbulb-o"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Digital Marketing</h3>
                <p>We will help your business expand your online presence, ensure constant contact with your customers, and drive organic traffic to your site.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-laptop"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Design</h3>
                <p>From wire-framing and prototyping, to detailed brand guidance and UI / UX design, the OVRAX team can aid in creating a unique identity for their clients.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><span class="align-self-center icon-gear"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Development</h3>
                <p>With a proven process and commitment to quality code, we build stable, scalable web applications your customers will love.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><span class="align-self-center icon-live_help"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Help &amp; Support</h3>
                <p>Our support services include fixing bugs, removing malware, restoring site functionality after hacker attacks, and reinforcing sites for future.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subscribe to our Newsletter</h2>
              <p></p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-6">
                  <form action="." class="subscribe-form">
                    <div class="form-group">
                      <span class="icon icon-paper-plane"></span>
                      <input type="text" class="form-control" placeholder="Enter email address">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section" id='services' >
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <!-- <span class="subheading">Services</span> -->
            <h2 class="mb-4" >Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="contact" class="image" style="background-image: url({% static 'webapp/images/work-1.gif' %}); " data-scrollax=" properties: { translateY: '-20%'}">
            </a>
            <div class="text">
              <h4 class="subheading">Web development</h4>
              <h2 class="heading"><a href="contact"></a>Building a beautiful business website or web app in a swift and efficient manner</h2>
              <p>We make your business digital with a range of modern technologies: Django, React, JavaScript, Python, PostgreSQL, MongoDB, Ruby, Node.js. Let's build the perfect website or web application to keep your business moving forward.</p>
              <p><a href="contact" class="btn btn-primary px-4">Give us a call</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="contact" class="image image-2 order-2" style="background-image: url({% static 'webapp/images/work-2.gif' %});" data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text order-1">
              <h4 class="subheading">Mobile app development</h4>
              <h2 class="heading"><a href="contact">See how we can make your mobile app awesome</a></h2>
              <p>Technologies that we use are the most advanced on the market: Python, React Native, JavaScript, C++, Ruby. We can push your mobile app for Android and iOS to the market at once with Ionic or React Native technologies.</p>
              <p><a href="contact" class="btn btn-primary px-4">Get in touch</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="contact" class="image" style="background-image: url({% static 'webapp/images/work-3.gif' %}); " data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text">
              <h4 class="subheading">Prices</h4>
              <h2 class="heading"><a href="contact">Custom made websites starting from $149</a></h2>
              <p>The final price depends on your specific case and scale of your needs. It can be less than $149 and can be more. But we always offer quick and durable solutions for a limited budget. </p>
              <p><a href="contact" class="btn btn-primary px-4">Contact us to learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section ftco-counter" id="section-counter">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2>Our achievements</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                  <strong class="number" data-number="673">0</strong>
                <span>Customers are satisfied with our professional services</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Performance of our websites</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100"></strong>
                <span>Design/UX/UI quality of the websites developed by us</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  {% endblock content %}